.icon{
    font-size: 4rem;
    align-self: center;
    margin: 10px;
    color: #FBC02D;
}

.createButton {
    height: 50px;
    width: 70px;
    position: relative;
    border: none;
    background: none;
  }
  
  .createButton img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
  }
  
.product-editor{
    top: 100px;
}
.editableProducts-box{
    width: 90vw;
    margin: auto;
}