.contenedor-main{
    max-width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.bookingForm{
    background-color: aqua;
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.detalle{
    
    grid-row-start:1 ;
    grid-row-end: 3;
    align-self: center;
    position: sticky;
    bottom: 100px;
    top: 100px;
}
.container-politicas{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 850px){
    .contenedor-main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bookingForm{
        grid-column-end: 4;
    }
    .container-politicas{
        grid-column-end: 4;
    }
    .detalle{
        grid-row-start: 3;
        grid-column-end: 4;
        grid-column-start: 1;
        position: relative;
        top: 0;
        bottom: 0;
    }
}