body{
    background-color:#f8f8f8;
    scroll-behavior: smooth;
}

.contenedor-main{
width: 100%;
}
@media screen and (min-width: 700px){
    .contenedor-reserva{
    display: grid;
    grid-template-columns: auto auto;
    padding:30px;
    }
}

@media screen and (max-width: 700px){
    .contenedor-reserva{
    /*display: grid;*/
    grid-template-columns: auto auto;
    padding:30px;
    }
}


@media screen and (min-width: 700px){
    .contenedor-calendario{
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        width: 847px;
     }
}

@media screen and (max-width: 700px){
    .contenedor-calendario{
        grid-row-start: 3;
    grid-row-end: 4;
    display: block;
    width: 100px;
    padding: 0px 0px 0px 60px;
     }
}




.hiden{
    background-color:#fbc02d ;
    height: 60px;
    padding-left: 40px;
    color: white;
    margin:0;
    /*line-height: 0rem;*/
   
    
}
.hh3{
    padding-left: 30px;
    margin-bottom: 0;
}


.hiden p{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: white;
padding-top:10px;
}

.contenedor-select{
    display: flex;
    grid-column-start: 1;
   grid-column-end: 2;
}



