.container-card {
  width:100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  filter:drop-shadow(0px 3px 3px #DFE4EA);
  
}
  .container-detail {
    padding: 10px;
    width: 65%;
  }
  
  .card-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .icon-star{
   
     /* font-weight: 700; */
     width: 1rem;
     margin-left: 5px;
     color:black;
      
  
  }
  
  .name-hotel {
    /* width: 189px; */
    /* height: 35px; */
    /* display: flex; */
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
  .starts {

    font-weight: 700;
    font-size: 14px;
  
  }
  .icon-heart{
  float:right;
  color:white;
  width: 20px;
  height: 22px;
  }
  .c{
    max-width: 100%;
  }
  .title {
   
    /* font-size: 24px; */
    /* line-height: 28px; */
    font-style: normal;
    /* font-weight: 700; */
    color: #263238;

  }
  .ranking-card {
    display: flex;
    flex-direction: column;
  }
  .ranking-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .calification-card {
    background-color: #263238;
    border-radius: 10px;
    /* width: 30px; */
    /* height: 25px; */
    color: white;
    /* font-size: 15px; */
  
    /* font-weight: 700; */
    text-align: center;
  }
  
  .location-card {
    display: flex;
    align-items: center;
  }
  
  .description-location {
      margin-right: 5px;
  }
  .location-mapa {
    color: #fbc02d;
    text-decoration: none;
  }
  
  .icon-location {
    /* width: 10px; */
    /* height: 14px; */
    color: #263238;
    /* margin-right: 5px; */
  }
  /* .icons-locations { */
    /* display: flex; */
  /* } */
  
  .icon-wifi {
    color: #263238;
    /* margin-right: 5px; */
  }
  .icon-Swimming {
    color: #263238;
    height: 20px;
  }
  .starts {
    font-style: normal;
   font-weight: 700;
   font-size: 1rem;
   line-height: 18px;
   color:#fbc02d;}  

  .icon-star {
    color: black;
    width: 15px;
    margin-left:5px;
  }
  .button-card {
    background-color: #fbc02d;
    border: none;
    color: white;
    width: 100%;
    height: 38px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
  }

  .button-card:hover {
    background-color: #e7ab13;
  }


  .container-img {
    width:35%;
    border-radius: 8px;
  }

  .description-card p {
    font-size: 100%;
    padding: 10px;
  }
  .editorIcon{
    color: #fbc02d;
  }
  .editorIcon :hover {
    color: #263238;
  }
  .buttons-container{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media screen and (max-width: 550px){
    .container-card{
      flex-direction: column;
    }
    .container-img {
      width:100%;
      height: 170px;
    }
    .container-detail {
      padding: 10px;
      width: 95%;
    }
    .buttons-container{
      flex-direction: row;
    }
  }
