.detalle {
    
    border-radius: 0.5rem;
    background: #ffffff;
    border: 0.0625rem solid #dfe4ea;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 0.5rem;
  }
  
  .buton {
    width:300px;
    height:40px;
    margin: 0px 0px;
    background-color: #fbc02d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }
 .detalle_estrellas p {
    display: none;
  }
  
  .detalle_estrellas {
    padding-top: 0.4375rem;
    font-size: 0.875rem;
    color:#fbc02d ;
  }

  @media screen and (min-width: 700px){
    .detalle__datos{
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color:black; 
    }
}

@media screen and (max-width: 700px){
  .detalle__datos{
    font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: black;
  padding: 7px 0px 0px 12px;
    }
}

  .detalle__datos h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-dos);
  }
  .check{
    padding: 20px;
  }
 .check p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    font-family:"Poppins" ;
 }

  
  .detalle_ubicacion {
    display: flex;
    gap: 0.5rem;
    padding:20px;
  }
  .detalle_ubicacion p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-dos);
    padding-bottom: 2.6875rem;
  }
   .detalle__categoria{
    font-weight: 700;
    font-family: "Poppins";
    font-size: 20px;
    color: black;
   }

   @media screen and (min-width: 700px){
    .container-buton{
      align-items: center;
    justify-content: center;
    display: flex;
    }
}

@media screen and (max-width: 700px){
  .container-buton{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 0px 20px 0px;
    }
}

  /* Modelo adaptativo destokp */
  @media screen and (min-width: 992px) {
    .detalle {
      width: 25.5625rem;
      display: flex;
      flex-direction: column;
      margin-top: 0rem;
      padding-bottom: 1.5rem;
    }
    .detalle__datos {
      padding: 2.6875rem 1.3125rem 0rem 1.3125rem;
    }
  }
  .detalle_ubicacion p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-dos);
    padding-bottom: 2.6875rem;
  }

  .detalle_contenedro--uno h2{
    padding-left: 20px;
  }
 
  .lin{
    height: 0px;
    border-color: rgb(218, 218, 218);
    background-color: rgb(218, 218, 218);
  }