
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 0px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .login-container h1 {
    text-align: center;
    left: 364px;
    top: 158px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FBC02D;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    font-weight: 500; 
    font-size: 12px;
    line-height: 14px;
    color: #383B58;
    text-align: right;
    display: flex;
  }
  
  .form-group input {
    display: block;
    padding: 0.4rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  
  .emailDivLogin{
    padding: 0px 44px 0px 20px;
  }
  .passwordDivLogin{
    padding: 0px 44px 0px 20px;
  }
  
  button.crearCuenta {
    background-color: #FBC02D;
    border: none;
    color: white; 
    Width : 206px;
    Height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }
  
  button.crearCuenta:hover {
    cursor: pointer;
    background-color: #607D8B;
  }
  
  p {
    margin-top: 0.3rem;
    font-size: 1rem;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  