.container-politicas{
    
    width: 100%;
    background-color: white;
    

}

/* .containes-datos-politica{
    
} */

.linea{
    height: 0px;
    border-color: #fbc02d;
    background-color: #fbc02d;

}
.container-politicas h2{
    padding-left: 30px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
}

.columna1{
    width:300px;
    margin-bottom: 40px;
    /* display: inline-block; */
    margin: 20px;
}

.columna1 p{
    padding: 7px;
}
p{
   margin:15px; 
}
.containes-datos-politica{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}



