@import url("leaflet/dist/leaflet.css");

.div-contenedor{
    margin-left: 30px;
    overflow-y: auto    ;
}
.buttonPlace{
    text-align: center;
    background-color: white;
    border: 1px solid #DFE4EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
width: 25rem;
height: auto;
}

@media screen and (max-width: 480px){
    .buttonPlace{
    padding: 22px;
    text-align: center;
    background-color: white;
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    height: auto;
    margin: 17px;
    width: 18rem;
    }
}

@media screen and (max-width: 640px){
    .bookingSpace{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch; 
    }
}
@media screen and (min-width: 640px){
  .bookingSpace{
    width: 90vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    flex-direction: row; 
    align-items: flex-end;
  }
}

.imageimg1{
    grid-area: myArea;
}
.images-container{
    margin: auto;
    height: 400px;
    width: 85vw;
    display: grid;
    grid:
  'myArea myArea . .'
  'myArea myArea . .';
    gap: 1rem;
    grid-column: 50rem;  
}
.image{
    min-width:100%;
    min-height: 100%;
    border-radius: 8px;
}
.images-zone{
    margin-top: 20px;
}
@media (max-width: 500px) {
    .images-zone .images-container {
      display: flex;
      margin: 0px;
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: center;
    }
    .images-zone .image {
      flex: 0 0 auto;
      width: 100%;
      height: auto;
    }
    .images-zone .image:first-child {
      display: block;
    }
    .images-zone .buttons {
      display: none;
    }
  }
  
hr{
    height: 0px;
    border-color: #fbc02d;
    background-color: #fbc02d;
}
.description-container{
    margin: auto;
    width: 90vw;
}

#map{
    width: 100%;
    height: 640px; 
    margin-top: 0;
  }

.leaflet-container{
    z-index: -1;
    position: relative;
    height: 100%;
  } 


@media screen and (max-width: 640px) {
    #map{
    width: 362px;
    height: 392px;
    margin-bottom: 29px;
    margin-top: 9px;
    }
    
}

@media (max-width: 500px) {
  .images-container-wrapper {
    position: relative;
  }
  
  .see-more-container {
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 1;
    display: none;
  }
  
  .see-more-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: blue;
    font-size: 14px;
    text-decoration: underline;
  }
}

@media (min-width: 500px) {
  .images-container-wrapper {
    position: relative;
  }
  
  .see-more-container {
    position: absolute;
    bottom: 0;
    right: 130px;
    z-index: 1;
    height: 32px;
  }
  
  .see-more-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
  }
}

.see-more-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more-modal .modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.see-more-modal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content {
  padding: 0px 500px 0px 420px;
  border-radius: 10px;
}

.modal-content h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

.alert{
  border-radius: 8px;
}
.alert2 h2{
  color: black;
}

.images-container2 {
  margin: auto;
  height: 400px;
  /*width: 100%;*/
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: -10px; /* agrega un margen negativo para reducir el espacio */
}

.images-container3 {
  margin: auto;
  height: 299px;
  display: grid;
  grid:
'myArea myArea . .'
'myArea myArea . .';
  gap: 1rem;
  grid-column: 50rem;
}
.hidden {
  display: none;
}

.tituloFotos{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.images-container3 .image3{
  min-width:100%;
  min-height: 100%;
  border-radius: 8px;
}

.images-container2::-webkit-scrollbar {
  display: none;
}

.images-zone2 {
  margin-top: 20px;
}

/* Agrega estilos para los botones */
.buttons2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-anterior2 {
  background-color: #eeeeee00;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url('https://cdn-icons-png.flaticon.com/512/271/271220.png');
}

.button-siguiente2 {
  background-color: #ffffff00;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url('https://cdn-icons-png.flaticon.com/512/8867/8867468.png');
}

.button-salir {
  position: absolute;
  top: 9.5vh;
  right: 68vh;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  outline: none;
}

.button-salir img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
