@import url("leaflet/dist/leaflet.css");

.div-contenedor{
    margin-left: 30px;
    overflow-y: auto    ;
}
.buttonPlace{
    text-align: center;
    background-color: white;
    border: 1px solid #DFE4EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
width: 25rem;
height: auto;
}

@media screen and (max-width: 480px){
    .buttonPlace{
    padding: 22px;
    text-align: center;
    background-color: white;
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    height: auto;
    margin: 17px;
    width: 18rem;
    }
}

@media screen and (max-width: 640px){
    .bookingSpace{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch; 
    }
}
@media screen and (min-width: 640px){
  .bookingSpace{
    width: 90vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    flex-direction: row; 
    align-items: flex-end;
  }
}

.imageimg1{
    grid-area: myArea;
}
.images-container{
    margin: auto;
    height: 400px;
    width: 85vw;
    display: grid;
    grid:
  'myArea myArea . .'
  'myArea myArea . .';
    gap: 1rem;
    grid-column: 50rem;  
}
.image{
    min-width:100%;
    min-height: 100%;
    border-radius: 8px;
}
.images-zone{
    margin-top: 20px;
}
@media (max-width: 500px) {
    .images-zone .images-container {
      display: flex;
      margin: 0px;
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: center;
    }
    .images-zone .image {
      flex: 0 0 auto;
      width: 100%;
      height: auto;
    }
    .images-zone .image:first-child {
      display: block;
    }
    .images-zone .buttons {
      display: none;
    }
  }
  
hr{
    height: 0px;
    border-color: #fbc02d;
    background-color: #fbc02d;
}
.description-container{
    margin: auto;
    width: 90vw;
}

#map{
    width: 100%;
    height: 640px; 
    margin-top: 0;
  }

.leaflet-container{
    z-index: -1;
    position: relative;
    height: 100%;
  } 


@media screen and (max-width: 640px) {
    #map{
    width: 362px;
    height: 392px;
    margin-bottom: 29px;
    margin-top: 9px;
    }
    
}