.searching{
    width: 100vw;
    background-color: #FBC02D;
    text-align: center;
    padding-bottom: 20px;
}
.searching > h2{
    color: white;
}
.searchingForm{
    margin: auto;
    width: 90vw;
    display: grid;
    text-align: center;
    align-content: center;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 20px;
    grid-auto-flow: column;
}
.rmdp-container{
    background-color: transparent;
    max-width: 23vw;
    min-height: 124%;
}
.rmdp-input{
    min-height: 2rem;
    width: 95%;
    text-align: center;
}
.searchButton{
    color: white;
    background-color: #607D8B;
    border-style: none;
    border-radius: 5px;
    width: 130%;
    max-width: 300px;
}
@media screen and (max-width: 710px){
    .searchingForm{
        grid-auto-flow: row;
        grid-template-columns: auto;
    
    }
    .rmdp-container{
        min-width: 100%;
        min-height: 100%;
    }
    .searchButton{
    color: white;
    background-color: #607D8B;
    border-style: none;
    border-radius: 5px;
    width: 130%;
    max-width: 100%;
    height: 36px;
    }
     
}  