/* .Suggestions{ */
   /* margin:0px 0px 0px 30px; */
   /* width: 100%; */
/* } */
/* .cards-container{ */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin: 30px 20px 60px 10px; */
/* } */
.Suggestions{
    margin: 0 auto;
    width: 90vw;
    padding-bottom: 100px;
 }
 .cards-container{
    
     display: grid;
     gap: 1rem;
     grid-column: 20rem;

     grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
     
 }

 @media screen and (max-width: 550px){
    .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
 }